IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[USP_INIT_KQPERD_4]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[USP_INIT_KQPERD_4]
go

--考勤期间表4(KQPERD_4部门考勤分析状态表)的初始化
create PROCEDURE [dbo].[USP_INIT_KQPERD_4]
@yearMonth VARCHAR(8)--可空，为空时初始化所有未初始化的月份
AS

if @yearMonth='' or @yearMonth is null
begin
	DECLARE @PID VARCHAR(8)
	DECLARE CURSOR_PERD CURSOR FOR
	SELECT PID FROM KQPERD_1 WHERE PID NOT IN (SELECT PID FROM KQPERD_4)

	OPEN CURSOR_PERD
	FETCH NEXT FROM CURSOR_PERD INTO @PID
	WHILE @@FETCH_STATUS=0
	BEGIN
		INSERT INTO KQPERD_4 (PID,SECTIONCODE,KQSTATUS)
		SELECT @PID,OID,'1' FROM CSORGA_1 WHERE OTEST = '3'

		FETCH NEXT FROM CURSOR_PERD INTO @PID
	END
	CLOSE CURSOR_PERD
	DEALLOCATE CURSOR_PERD
end
else
begin
	INSERT INTO KQPERD_4 (PID,SECTIONCODE,KQSTATUS)
	SELECT @yearMonth,OID,'1' FROM CSORGA_1 WHERE OTEST = '3'
end
go
