
--创建新期间
ALTER      PROCEDURE [dbo].[KQ_CreateNewPeriod]

--@P0 VARCHAR(4)

AS

DECLARE @CPDF VARCHAR(2),@HRYR VARCHAR(4),@CPDT VARCHAR(2),@CPDDF INT,@CPDDT INT,@CW1  VARCHAR(2),@CW2  VARCHAR(2),@CW3  VARCHAR(2),@CW4  VARCHAR(2),@CW5  VARCHAR(2),@CW6  VARCHAR(2),@CW7  VARCHAR(2)
update kqpdct_1 set hryr=hryr+1

SELECT
top 1  
  @CPDF=CPDF,
  @HRYR=HRYR,
  @CPDT=CPDT,
  @CPDDF=CPDDF,
  @CPDDT=CPDDT,
  @CW1=CW1,
  @CW2=CW2,
  @CW3=CW3,
  @CW4=CW4,
  @CW5=CW5,
  @CW6=CW6,
  @CW7=CW7
FROM
	KQPDCT_1
ORDER BY HRYR
--WHERE 
--CNO=@P0

--DELETE EXIST PERIOD
DELETE FROM KQPERD_1 WHERE PID>=(right(@HRYR,2)+@CPDF) AND PID<=(right(@HRYR,2)+@CPDT)
DELETE FROM KQPERD_3 WHERE PID>=@CPDF AND PID<=@CPDT--ADD BY WSM

DELETE FROM KQHOLI_1 
WHERE CONVERT(CHAR(2),RIGHT(YEAR(hdate),2))+RIGHT('00'+CONVERT(VARCHAR(2),RIGHT(MONTH(hdate),2)),2)>=@CPDF AND CONVERT(CHAR(2),RIGHT(YEAR(hdate),2))+RIGHT('00'+CONVERT(VARCHAR(2),RIGHT(MONTH(hdate),2)),2)<=@CPDT
AND HTYPE='DF'

DECLARE @TD DATETIME

SET @TD=CONVERT(DATETIME,@HRYR+'-'+RIGHT(@CPDF,2)+'-01')

WHILE (@TD<=CONVERT(DATETIME,@HRYR+'-'+RIGHT(@CPDT,2)+'-01'))

BEGIN

	DECLARE @SD DATETIME,@ED DATETIME,@SD1 DATETIME

	IF (@CPDDF<@CPDDT)

	BEGIN

		SET @SD=DATEADD(d,@CPDDF-1,@TD)

		SET @ED=DATEADD(d,-1,DATEADD(m,1,@TD))

	END

	ELSE

	BEGIN

		SET @SD=DATEADD(m,-1,DATEADD(d,@CPDDF-1,@TD))

		SET @ED=DATEADD(d,@CPDDT-1,@TD)

	END

	

	DECLARE @TCOUNT INT,@HCOUNT INT

	SET @HCOUNT=0

	SET @SD1=@SD

	WHILE(@SD<=@ED)

	BEGIN

			DECLARE @HTYPE VARCHAR(2)

			SET @HTYPE=CASE DATEPART(dw,@SD)

					WHEN 2 THEN @CW1

					WHEN 3 THEN @CW2

					WHEN 4 THEN @CW3

					WHEN 5 THEN @CW4

					WHEN 6 THEN @CW5

					WHEN 7 THEN @CW6

					WHEN 1 THEN @CW7 END

			IF(@HTYPE!='')

			BEGIN

			SELECT @TCOUNT=COUNT('') FROM KQHOLI_1 WHERE CONVERT(VARCHAR(10),HDATE,120)=CONVERT(VARCHAR(10),@SD,120)

			IF (@TCOUNT>0)
			UPDATE KQHOLI_1 SET HTYPE='WARN' WHERE CONVERT(VARCHAR(10),HDATE,120)=CONVERT(VARCHAR(10),@SD,120)
			ELSE
			INSERT INTO KQHOLI_1 VALUES(@SD,CONVERT(VARCHAR(10),@SD,120),CONVERT(VARCHAR(10),@SD,120),'DF')

			END

		SET @SD=DATEADD(d,1,@SD)

	END

	INSERT INTO KQPERD_1(PID,PSTART,PEND,PDAYS,PLOCK,PISNOW,PCALSTAT,PTRANS) VALUES(CONVERT(VARCHAR(4),@TD,12),@SD1,@ED,DATEDIFF(d,@SD1,@ED)+1,1,2,0,0)
		------begin--写入各个期间中每个日期分别为该期间内的第几天的天数对应关系表--ADD BY WSM	DECLARE @DAYCOUNT INT	DECLARE @IINDEX INT 	DECLARE @DAYNUM VARCHAR(3)	DECLARE @DAYDATE DATETIME	SET @IINDEX = 0	SET @DAYCOUNT = DATEDIFF(d,@SD1,@ED)+1	WHILE(@IINDEX<@DAYCOUNT)	BEGIN		SET @DAYNUM = 'D'+CONVERT(VARCHAR(3),@IINDEX+1)		SET @DAYDATE = DATEADD(day,@IINDEX,@SD1)		INSERT INTO KQPERD_3(PID,DNUM,DATE) VALUES(CONVERT(VARCHAR(4),@TD,12),@DAYNUM,@DAYDATE)		SET @IINDEX = @IINDEX+1	END	------end---写入各个期间中每个日期分别为该期间内的第几天的天数对应关系表--ADD BY WSM	------begin--写入各个期间中各小部门考勤分析状态表--ADD BY WSM 20120813	DECLARE @PID_temp VARCHAR(8)	SET @PID_temp = CONVERT(VARCHAR(4),@TD,12)	exec USP_INIT_KQPERD_4 @PID_temp	------end---写入各个期间中各小部门考勤分析状态表--ADD BY WSM 20120813
	SET @TD=DATEADD(m,1,@TD)

END

go











