
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<根据导入的订单中物料与数据库中现有的物料信息进行对比校验>
-- =============================================
ALTER PROCEDURE [dbo].[USP_CHECKORDS]
@P0 varchar(50)
AS

DECLARE @BCODE varchar(50)--发票号
DECLARE @POSCODE varchar(50)--序号
DECLARE @MCODE varchar(50)--物料号
DECLARE @MNAME varchar(50)--英文名
DECLARE @MNAMECHS varchar(50)--中文名
DECLARE @MTYPE varchar(50)--型号描述
DECLARE @ORIGIN varchar(50)--原产国
DECLARE @NUNIT varchar(50)--数量单位
DECLARE @MAMOUNT float--总金额
DECLARE @UNITWT float--单位重量
DECLARE @ALLWT float--总重量
DECLARE @WTUNIT varchar(50)--重量单位
DECLARE @HSCODE varchar(50)--产品编码
DECLARE @MSTATE varchar(50)--物料导入状态
DECLARE @MSTATE_update varchar(50)--物料导入状态(变更值)

DECLARE @MNAME_1 varchar(50)
DECLARE @MNAMECHS_1 varchar(50)
DECLARE @MTYPE_1 varchar(50)
DECLARE @ORIGIN_1 varchar(50)
DECLARE @NUNIT_1 varchar(50)
DECLARE @UNITWT_1 float
DECLARE @WTUNIT_1 varchar(50)
DECLARE @HSCODE_1 varchar(50)

DECLARE @TipString VARCHAR(8000)
SET @TipString = ''
DECLARE @Remark VARCHAR(1000)

--获取手册号
DECLARE @bookletno varchar(50)
SELECT @bookletno = [bookletno] FROM batchorder_1 WHERE [BCODE]=@P0

--获取手册号的当前流水号
DECLARE @BOOKSEQ INT
SELECT @BOOKSEQ = [CURSEQ] FROM BOOKLET_1 WHERE [BOOKLETNO]=@bookletno

--定义查仓号变量
DECLARE @QWNO VARCHAR(50)

--定义总金额和总净重变量
DECLARE @TotalAmout float
DECLARE @TotalWeight float
set @TotalAmout = 0
set @TotalWeight = 0

--获取请假单未完结的集合
DECLARE OD2_DS CURSOR FOR
SELECT [BCODE],[POSCODE],[MCODE],[MNAME],[MNAMECHS],[MTYPE],[ORIGIN],[NUNIT],[MAMOUNT],[UNITWT],[ALLWT],[WTUNIT],[HSCODE],[STATUS] FROM BATCHORDER_2 WHERE [BCODE] = @P0 ORDER BY [POSCODE]

--事务处理
SET XACT_ABORT ON
BEGIN TRAN

OPEN OD2_DS
FETCH NEXT FROM OD2_DS INTO @BCODE,@POSCODE,@MCODE,@MNAME,@MNAMECHS,@MTYPE,@ORIGIN,@NUNIT,@MAMOUNT,@UNITWT,@ALLWT,@WTUNIT,@HSCODE,@MSTATE
WHILE @@FETCH_STATUS=0
BEGIN
	SET @Remark = ''
	SET @MSTATE_update = @MSTATE
	IF exists (SELECT * FROM MATERIAL_1 WHERE MCODE = @MCODE)
	BEGIN
		SELECT @MNAME_1=[MNAME],@MNAMECHS_1=[MNAMECHS],@MTYPE_1=[MTYPE],@ORIGIN_1=[ORIGIN],@NUNIT_1=[NUNIT]
			,@UNITWT_1=[UNITWT],@WTUNIT_1=[WTUNIT],@HSCODE_1=[HSCODE] FROM MATERIAL_1 WHERE MCODE = @MCODE
		--三个字段直接取物料库中得相应信息（数量单位/重量单位/商品编码）
		SET @NUNIT=@NUNIT_1
		SET @WTUNIT=@WTUNIT_1
		SET @HSCODE=@HSCODE_1	

		SET @MSTATE_update = '003'--正常导入
		
		--英文名不符
		IF(@MNAME<>@MNAME_1)
		BEGIN
			SET @Remark = @Remark+'物料号'+@MCODE+'英文名不符，物料库中其英文名称是:'+@MNAME_1+'<br>'
			SET @MSTATE_update = '002'--信息不符
		END
		--中文名不符
		IF(@MNAMECHS<>@MNAMECHS_1)
		BEGIN
			SET @Remark = @Remark+'物料号'+@MCODE+'中文名不符，物料库中其中文名称是:'+@MNAMECHS_1+'<br>'
			SET @MSTATE_update = '002'--信息不符
		END
		--物料型号不符
		IF(@MTYPE<>@MTYPE_1)
		BEGIN
			SET @Remark = @Remark+'物料号'+@MCODE+'型号不符，物料库中其型号是:'+@MTYPE_1+'<br>'
			SET @MSTATE_update = '002'--信息不符
		END
		--原产国不符
		IF(@ORIGIN<>@ORIGIN_1)
		BEGIN
			SET @Remark = @Remark+'物料号'+@MCODE+'原产国不符，物料库中其原产国是:'+@ORIGIN_1+'<br>'
			SET @MSTATE_update = '002'--信息不符
		END
		--单位重量不符
		IF(@UNITWT<>@UNITWT_1)
		BEGIN
			SET @Remark = @Remark+'物料号'+@MCODE+'单位重量不符，物料库中其单位重量是:'+convert(varchar(100),@UNITWT_1)+'<br>'
			SET @MSTATE_update = '002'--信息不符
		END
	END
	ELSE
	BEGIN
		SET @Remark = @Remark+'物料号'+@MCODE+'在物料库中不存在，如无需增加，则请进行删除！<br>'
	END

	--序号递增
	SET @BOOKSEQ = @BOOKSEQ+1
	--自动生成查仓号(手册号+/+6位流水号)
	SET @QWNO = @bookletno+'/'+right('000000'+convert(varchar(6),@BOOKSEQ),6)

	set @TipString = @TipString+@Remark

	--计算总金额和总重量
	set @TotalAmout = @TotalAmout + @MAMOUNT
	set @TotalWeight = @TotalWeight + @ALLWT

	--更新数据库
	UPDATE BATCHORDER_1 SET [AMOUNT]=@TotalAmout,[WEIGHT]=@TotalWeight,[EXPORTLOG] = @TipString WHERE BCODE = @BCODE
	UPDATE BATCHORDER_2 SET 
		[NUNIT]=@NUNIT,[WTUNIT]=@WTUNIT,[HSCODE]=@HSCODE --数量单位/重量单位/商品编码
		,[QWNO]=@QWNO,[STATUS]=@MSTATE_update,[CMT] = @Remark
		WHERE BCODE = @BCODE AND [POSCODE] = @POSCODE

	FETCH NEXT FROM OD2_DS INTO @BCODE,@POSCODE,@MCODE,@MNAME,@MNAMECHS,@MTYPE,@ORIGIN,@NUNIT,@MAMOUNT,@UNITWT,@ALLWT,@WTUNIT,@HSCODE,@MSTATE

END
CLOSE OD2_DS
DEALLOCATE OD2_DS

--更新手册号对应的当前序号
UPDATE BOOKLET_1 SET [CURSEQ]=@BOOKSEQ WHERE [BOOKLETNO]=@bookletno

--事务提交
COMMIT TRAN

GO



