--OT 分段计算 正确加班工资
DECLARE @EMPLOYEE VARCHAR(10)
DECLARE @OTDT datetime
declare @otsalary float
declare @num int
declare @ottime float
declare @ottal float
declare @othr float
declare @dcno varchar(10)
set @otsalary=0
set @othr=0
set @ottal=0
set @ottime=0
set @num=0

DECLARE CURSOR_AUTO_JB CURSOR FOR
	select EMPLOYEE,OTDATEF,OTTIME from kqovtm_1 where ottype=2 and OTAUDTSTAT=5 and otdatef between '2010-10-01' and  '2010-10-31'
OPEN CURSOR_AUTO_JB
DECLARE @STARTTIME DATETIME
FETCH NEXT FROM CURSOR_AUTO_JB INTO @EMPLOYEE,@OTDT,@OTTIME
WHILE @@FETCH_STATUS=0
BEGIN
	select @num=count(1),@otsalary=max(dcslevelf) from hrdocu_10 where dcno=@employee and dcpdodt>@OTDT and dcpdodt<='2010-10-31'
	if @num>0 
	begin 
		set @dcno=@employee
--		print @employee
--		print @otdt
--		print @ottime
--		print @otsalary
--		print @otsalary/21.75/8*@ottime
		set @ottal=@ottal+@otsalary/21.75/8*@ottime
		set @othr=@othr+@ottime

	end
	FETCH NEXT FROM CURSOR_AUTO_JB INTO @EMPLOYEE,@OTDT,@OTTIME
	if @dcno<>@employee and @ottal<>0
	begin 
		print @ottal
		print @othr
		print @dcno
		update prempl_2 set itemevlaue=@othr where employee=@dcno and itemcode='InJJRJBXSbef'
		update prempl_2 set itemevlaue=itemevalue-@othr where employee=@dcno and itemcode='InJJRJBXS'
		set @ottal=0 
		set @othr=0
	end

END
CLOSE CURSOR_AUTO_JB
DEALLOCATE CURSOR_AUTO_JB
