
-- =============================================
-- Author:		<>
-- Create date: <>
-- Description:	<每天执行计算年假信息>
-- =============================================
ALTER PROC [dbo].[USP_AHOL_DailyCalculate]

AS

declare @DCHREDATE DATETIME
DECLARE @DCDMACT DATETIME
DECLARE @DCEMPTYPE VARCHAR(20)
DECLARE @DCPLEVEL VARCHAR(20)
declare @DCNO VARCHAR(20)
DECLARE @SEQNO VARCHAR(20)
declare @SERVICEYEAR DECIMAL(9,4) 

declare @iReDays DECIMAL(9,0) 
declare @dtEndDate DateTime

declare @curDate DATETIME
declare @yearDays DECIMAL(9,4)  
declare @yearDays_pre DECIMAL(9,4)  
declare @curYear int
set @curDate = getdate()
--Add By Michael
set @curYear = year(@curDate)
set @yearDays = dbo.LongYear(@curYear)

DELETE FROM HRAHOL_1 WHERE left(AHCODE,4) = @curYear
DELETE FROM HRAHOL_2 WHERE left(AHCODE,4) = @curYear

--------------首先写入基本信息
DECLARE CURSOR_StaffDS CURSOR FOR--获取不在当前年度年假信息表中的员工档案集
	SELECT h.DCNO,h.DCHREDATE,h.DCEMPTYPE,h.DCPLEVEL,h.DCDMACT
	FROM HRDOCU_1 h WHERE DCHREDATE IS  NOT NULL AND DCHREDATE <> '' 
	and h.DCNO NOT IN (SELECT DCNO FROM HRAHOL_1 WHERE AHCODE = CONVERT(VARCHAR(4),@curYear)+h.DCNO) order by dcno
OPEN CURSOR_StaffDS
FETCH NEXT FROM CURSOR_StaffDS INTO @DCNO,@DCHREDATE,@DCEMPTYPE,@DCPLEVEL,@DCDMACT
WHILE @@FETCH_STATUS=0
	BEGIN
		--若员工在当前年度之前离职,则不需要处理
		IF (@DCDMACT is not null and @DCDMACT<>'' and year(@DCDMACT) < @curYear) 
			print @DCDMACT
		else
		begin
			IF NOT EXISTS (SELECT * FROM HRAHOL_1 WHERE AYEAR=@curYear AND DCNO=@DCNO)
			BEGIN
				--取上年度本员工的服务起始时间[ENTRYDATE]
				IF EXISTS (SELECT * FROM HRAHOL_1 WHERE AYEAR=@curYear-1 AND DCNO=@DCNO)
				begin
					select @DCHREDATE = [ENTRYDATE] FROM HRAHOL_1 WHERE AYEAR=@curYear-1 AND DCNO=@DCNO
				end

				SET @SEQNO = CONVERT(VARCHAR(4),@curYear)+@DCNO
				--写入基本信息
				INSERT INTO HRAHOL_1([AHCODE],[AYEAR],[DCNO],[DCTYPE],[DCLEVEL],[ENTRYDATE],[CALTIME])
					VALUES(@SEQNO,@curYear,@DCNO,@DCEMPTYPE,@DCPLEVEL,@DCHREDATE,@curDate)
				--初始化天数字段为0.0000
				update HRAHOL_1 set [STDDAY]=0.0000,[BUILDDAY]=0.0000,[USEDAY]=0.0000,[REMAINDAY]=0.0000,[YLDAY]=0.0000,[PREREMAIN]=0.0000 where [AHCODE] = @SEQNO
			END
		end
		FETCH NEXT FROM CURSOR_StaffDS INTO @DCNO,@DCHREDATE,@DCEMPTYPE,@DCPLEVEL,@DCDMACT
END
CLOSE CURSOR_StaffDS
DEALLOCATE CURSOR_StaffDS

----------------对当前年度的年假信息更新
---------------------最后工作日
UPDATE A SET A.[LASTDATE] = B.DCDMACT FROM HRAHOL_1 A,HRDOCU_1 B
		WHERE A.DCNO = B.DCNO AND A.AYEAR = @curYear 
		and (DCDMACT is not null or DCDMACT<>'')
		and YEAR(B.DCDMACT) = @curYear


----------------写入变更信息

DECLARE @DCPDODT DATETIME
DECLARE @DCPLEVELF VARCHAR(20)
DECLARE @DCPLEVELT VARCHAR(20)
DECLARE @chYear VARCHAR(20)
DECLARE @ahCode VARCHAR(20)
DECLARE @INDEX INT 
DECLARE @IsChange INT 
declare @SERVICEYEAR_active DECIMAL(9,4)  
declare @iReDays_After DECIMAL(9,0)
DECLARE @DCPDODT_PRE DATETIME
DECLARE CURSOR_ChangeDS CURSOR FOR--获取所有在今年内生效的变更信息
	SELECT A.DCNO,A.DCPLEVELF,A.DCPLEVELT,A.DCPDODT,B.DCHREDATE,B.DCEMPTYPE 
	FROM HRDOCU_10 A LEFT JOIN HRDOCU_1 B ON A.DCNO = B.DCNO
	WHERE A.DCPLEVELF<>A.DCPLEVELT 
	and year(DCPDODT) = @curYear
--	and convert(varchar(20),DCPDODT,23) = convert(varchar(20),@curDate,23)
	ORDER BY A.DCNO,A.DCPDODT
OPEN CURSOR_ChangeDS
FETCH NEXT FROM CURSOR_ChangeDS INTO @DCNO,@DCPLEVELF,@DCPLEVELT,@DCPDODT,@DCHREDATE,@DCEMPTYPE
WHILE @@FETCH_STATUS=0
	BEGIN
		SET @INDEX = 1
		SET @chYear = YEAR(@DCPDODT)
		SELECT @ahCode = AHCODE,@SERVICEYEAR=SERVICEYEAR FROM HRAHOL_1 WHERE AYEAR = @chYear and DCNO = @DCNO
		if exists (SELECT * FROM HRAHOL_2 WHERE AHCODE = @ahCode)
		BEGIN
			SELECT @INDEX = MAX(CHNO)+1 FROM HRAHOL_2 WHERE AHCODE = @ahCode
		END 
		--获取是否影响了年假档次级别
		set @IsChange = [dbo].[IsChangeHolLevel](@DCPLEVELF,@DCPLEVELT)

		--插入本条数据
		insert into HRAHOL_2(AHCODE,CHNO,OLDLEVEL,CHLEVEL,CHDATE,ISCHANGE)
		VALUES (@ahCode,@INDEX,@DCPLEVELF,@DCPLEVELT,@DCPDODT,@IsChange)

--		--获取变更前标准天数
--		set @iReDays = 0
--		set @dtEndDate = @DCPDODT
--		EXEC [USP_AHOL_GetStandardDays] @DCNO,@DCEMPTYPE,@DCPLEVELF,@SERVICEYEAR,@iReDays output
--		UPDATE HRAHOL_2 SET [OLDSTDDAY] = @iReDays WHERE AHCODE = @ahCode AND CHNO = @INDEX

		--获取变更前标准天数
		set @SERVICEYEAR_active = @SERVICEYEAR
		set @DCPDODT_PRE = @DCHREDATE
		--如果在此之前存在年假档次级别变更的调动
		if exists(SELECT * FROM HRAHOL_2 WHERE RIGHT(AHCODE,LEN(AHCODE)-4) = @DCNO AND CHDATE <@DCPDODT AND ISCHANGE = 2)
		begin
			select @DCPDODT_PRE =MAX(CHDATE) FROM HRAHOL_2 WHERE RIGHT(AHCODE,LEN(AHCODE)-4) = @DCNO AND CHDATE <@DCPDODT AND ISCHANGE = 2
		end
		set @yearDays_pre = dbo.LongYear(YEAR(@DCPDODT_PRE))
		set @SERVICEYEAR_active = convert(decimal(9,4),(DATEDIFF(DD,@DCPDODT_PRE,@DCPDODT)+1)/@yearDays_pre)
		set @iReDays = 0
		EXEC [USP_AHOL_GetStandardDays] @DCNO,@DCEMPTYPE,@DCPLEVELF,@SERVICEYEAR_active,@iReDays output

		--获取变更后标准天数
		set @iReDays_After = 0
		--Add By Michael:计算变更后的标准天数
		if @IsChange = 1
			EXEC [USP_AHOL_GetStandardDays] @DCNO,@DCEMPTYPE,@DCPLEVELT,@SERVICEYEAR_active,@iReDays_After output
		else
			EXEC [USP_AHOL_GetStandardDays] @DCNO,@DCEMPTYPE,@DCPLEVELT,0,@iReDays_After output

		UPDATE HRAHOL_2 SET [OLDSTDDAY] = @iReDays,[CHSTDDAY] = @iReDays_After WHERE AHCODE = @ahCode AND CHNO = @INDEX

		--如果本次变更直接影响年假档次级别变更
		if @IsChange = 2 select @DCPDODT_PRE = @DCPDODT

		update HRAHOL_1 set [ENTRYDATE] = @DCPDODT_PRE where AHCODE=@ahCode

--		--获取变更后标准天数
--		set @iReDays = 0
--		set @dtEndDate = @DCPDODT
--		EXEC [USP_AHOL_GetStandardDays] @DCNO,@DCEMPTYPE,@DCPLEVELT,@SERVICEYEAR,@iReDays output
--		UPDATE HRAHOL_2 SET [CHSTDDAY] = @iReDays WHERE AHCODE = @ahCode AND CHNO = @INDEX

		FETCH NEXT FROM CURSOR_ChangeDS INTO @DCNO,@DCPLEVELF,@DCPLEVELT,@DCPDODT,@DCHREDATE,@DCEMPTYPE
	END
CLOSE CURSOR_ChangeDS
DEALLOCATE CURSOR_ChangeDS
--Add By Michael20120314
--------------年假级别服务年限重新生成
update HRAHOL_1 SET SERVICEYEAR = 
		convert(decimal(9,4),(DATEDIFF(DD,[ENTRYDATE],
				case	
					WHEN [LASTDATE] IS NOT NULL or [LASTDATE]<>'' THEN [LASTDATE]
					else @curDate
				end)+1)/@yearDays)  where AYEAR = @curYear


---------------写入标准天数以及生成天数
DECLARE @AHOLCODE VARCHAR(20)
DECLARE @AYEAR VARCHAR(20)
declare @ADCNO VARCHAR(20)
declare @DCTYPE VARCHAR(20)
declare @DCLEVEL VARCHAR(20)
declare @ENTRYDATE DATETIME
DECLARE @LASTDATE DATETIME
DECLARE @BUILDDAY DECIMAL(9,4) 
DECLARE @CURSTDDAY DECIMAL(9,4) 
DECLARE @BUILDDAY_F DECIMAL(9,4) 
DECLARE @BUILDDAY_L DECIMAL(9,4) 
DECLARE @BUILDDAY_I DECIMAL(9,4) 

DECLARE @CURSTARTDATE DATETIME
DECLARE @CURENDDATE DATETIME

DECLARE @iCHNO INT
DECLARE @minCHNO INT
DECLARE @maxCHNO INT

DECLARE @CHNO INT

declare @OLDLEVEL VARCHAR(20)
DECLARE @OLDSTDDAY1 DECIMAL(9,4) 
DECLARE @OLDSTDDAY2 DECIMAL(9,4) 
DECLARE @CHSTDDAY1 DECIMAL(9,4) 
DECLARE @CHSTDDAY2 DECIMAL(9,4) 
DECLARE @CHDATE1 DATETIME
DECLARE @CHDATE2 DATETIME

DECLARE @dtPreStdDay DECIMAL(9,4) 
DECLARE @dtFullOneYear DATETIME

DECLARE CURSOR_AHOL1 CURSOR FOR--对当前全年进行计算
	SELECT AHCODE,AYEAR,DCNO,DCTYPE,DCLEVEL,ENTRYDATE,LASTDATE,SERVICEYEAR,STDDAY 
	FROM HRAHOL_1 WHERE AYEAR = @curYear 
--	AND DCNO='SEC0037'
	ORDER BY AHCODE
OPEN CURSOR_AHOL1
FETCH NEXT FROM CURSOR_AHOL1 INTO @AHOLCODE,@AYEAR,@ADCNO,@DCTYPE,@DCLEVEL,@ENTRYDATE,@LASTDATE,@SERVICEYEAR,@CURSTDDAY
WHILE @@FETCH_STATUS=0
	BEGIN
		--设置生成天数
		SET @BUILDDAY = 0.0000

		SET @dtPreStdDay = 0--上年度最后一天时的标准天数
		--如果存在上年度某人记录，则取上年度时间
		if exists (select * from HRAHOL_1 where dcno =@ADCNO and ayear = @AYEAR-1)
		begin
			select @CURSTARTDATE = ENTRYDATE,@dtPreStdDay = STDDAY from HRAHOL_1 where dcno =@ADCNO and ayear = @AYEAR-1
			--上年度起始时间满一年的日期
			set @dtFullOneYear = convert(datetime,@AYEAR+'-'+convert(varchar(2),month(@CURSTARTDATE))+'-'+convert(varchar(2),day(@CURSTARTDATE)))--dateadd(YY,1,@CURSTARTDATE)
		end
		else
		BEGIN
			SET @CURSTARTDATE = @ENTRYDATE
			--上年度起始时间满一年的日期
			--Add By Michael
			set @dtFullOneYear = @curDate
		END

		IF @CURSTARTDATE<convert(datetime,@AYEAR+'-01-01')  SET @CURSTARTDATE = convert(datetime,@AYEAR+'-01-01')
		--Add By Michael 
		SET @CURENDDATE = @curDate
		IF convert(int,@AYEAR)<YEAR(@CURENDDATE) SET @CURENDDATE = convert(datetime,@AYEAR+'-12-31')
		if (@LASTDATE is not null and @LASTDATE<>'' and @LASTDATE<=@CURENDDATE) SET @CURENDDATE = @LASTDATE

		--设置标准天数
		set @iReDays = 0
		EXEC [USP_AHOL_GetStandardDays] @ADCNO,@DCTYPE,@DCLEVEL,@SERVICEYEAR,@iReDays output

------------如果是今年最后一天且无今年变更记录自动加上一条记录，以便后面分段计算
		IF NOT EXISTS (SELECT * FROM HRAHOL_2 where AHCODE = @AHOLCODE ) and month(@curDate) = 12 and day(@curDate) = 31 
		BEGIN
			insert into HRAHOL_2 
						([AHCODE]
					   ,[CHNO]
					   ,[OLDLEVEL]
					   ,[OLDSTDDAY]
					   ,[CHLEVEL]
					   ,[CHSTDDAY]
					   ,[CHDATE]
					   ,[ISCHANGE])
				VALUES (@AHOLCODE
					   ,1
					   ,@DCLEVEL
					   ,@iReDays
					   ,@DCLEVEL
					   ,@iReDays
					   ,CONVERT(DATETIME,@AYEAR+'-12-31')
					   ,'1')
		end
------------

		--此区间不存在假期级别变更的职位变动
		IF NOT EXISTS (SELECT * FROM HRAHOL_2 where AHCODE = @AHOLCODE)
		BEGIN
			SET @BUILDDAY = @iReDays*((DATEDIFF(DD,@CURSTARTDATE,@CURENDDATE)+1)/@yearDays)
		END
		ELSE--此区间存在级别变动
		BEGIN
			set @BUILDDAY_F = 0.0000
			set @BUILDDAY_L = 0.0000
			set @BUILDDAY_I = 0.0000
			set @iCHNO = 1
			SELECT @minCHNO = MIN(CHNO) FROM HRAHOL_2 where AHCODE = @AHOLCODE
			SELECT @maxCHNO = MAX(CHNO) FROM HRAHOL_2 where AHCODE = @AHOLCODE

			--**********************第一次假期级别变更
			select @OLDSTDDAY1 = OLDSTDDAY,@CHSTDDAY1 = CHSTDDAY,@CHDATE1 =CHDATE ,@OLDLEVEL = OLDLEVEL
				FROM HRAHOL_2 where AHCODE = @AHOLCODE AND CHNO = @minCHNO
			if (@CURSTARTDATE<@dtFullOneYear and @dtFullOneYear<@CHDATE1)--在此期间满一年了
			begin
				IF @dtPreStdDay =0 SET @dtPreStdDay = @OLDSTDDAY1--如果不存在上年度数据，则取第一次变更前的标准天数
				set @BUILDDAY_F = @dtPreStdDay*(DATEDIFF(DD,@CURSTARTDATE,@dtFullOneYear)/@yearDays)
								 +@OLDSTDDAY1*(DATEDIFF(DD,@dtFullOneYear,@CHDATE1)/@yearDays)
			end
			else--在此期间未满一年
				set @BUILDDAY_F = @OLDSTDDAY1*(DATEDIFF(DD,@CURSTARTDATE,@CHDATE1)/@yearDays)

			--**********************最后一次假期级别变更
			select @OLDSTDDAY1 = OLDSTDDAY,@CHSTDDAY1 = CHSTDDAY,@CHDATE1 =CHDATE ,@OLDLEVEL = OLDLEVEL,
				@DCLEVEL = CHLEVEL--记录最后一次变更的级别
				FROM HRAHOL_2 where AHCODE = @AHOLCODE AND CHNO = @maxCHNO
			if (@CHDATE1<@dtFullOneYear and @dtFullOneYear<@CURENDDATE)--在此期间满一年了
			begin
				--计算满一年前的生成天数
				set @BUILDDAY_L = @CHSTDDAY1*(DATEDIFF(DD,@CHDATE1,@dtFullOneYear)/@yearDays)

				--计算满一年后的生成天数
				EXEC [USP_AHOL_GetStandardDays] @ADCNO,@DCTYPE,@DCLEVEL,1,@dtPreStdDay output
				set @BUILDDAY_L = @BUILDDAY_L +@dtPreStdDay*((DATEDIFF(DD,@dtFullOneYear,@CURENDDATE)+1)/@yearDays)

			end
			else--在此期间未满一年
				set @BUILDDAY_L = @iReDays*((DATEDIFF(DD,@CHDATE1,@CURENDDATE)+1)/@yearDays)

			SET @BUILDDAY = @BUILDDAY +@BUILDDAY_F +@BUILDDAY_L 

			--**********************中间假期级别变更
			set @iCHNO = @minCHNO
			while @iCHNO< @maxCHNO
			BEGIN
				IF EXISTS (SELECT * FROM HRAHOL_2 where AHCODE = @AHOLCODE and CHNO = @iCHNO)
				BEGIN
					select @OLDSTDDAY1 = A.OLDSTDDAY,@CHSTDDAY1 = A.CHSTDDAY,@CHDATE1 =A.CHDATE 
						,@OLDSTDDAY2 = B.OLDSTDDAY,@CHSTDDAY2 = B.CHSTDDAY,@CHDATE2=B.CHDATE 
						FROM HRAHOL_2 A inner join HRAHOL_2 B ON A.AHCODE = B.AHCODE 
						where A.AHCODE = @AHOLCODE AND A.CHNO = @iCHNO AND B.CHNO = @iCHNO+1
					if (@CHDATE1<@dtFullOneYear and @dtFullOneYear<@CHDATE2)--在此期间满一年了
					begin
						set @BUILDDAY_I = @CHSTDDAY1*(DATEDIFF(DD,@CHDATE1,@dtFullOneYear)/@yearDays)
										 +@OLDSTDDAY2*(DATEDIFF(DD,@dtFullOneYear,@CHDATE2)/@yearDays)
					end
					else--在此期间未满一年
						set @BUILDDAY_I = @OLDSTDDAY2*(DATEDIFF(DD,@CHDATE1,@CHDATE2)/@yearDays)

					SET @BUILDDAY = @BUILDDAY + @BUILDDAY_I
				END
	
				set @iCHNO = @iCHNO+1
			END


			--有变更后重新计算标准天数
			EXEC [USP_AHOL_GetStandardDays] @ADCNO,@DCTYPE,@DCLEVEL,@SERVICEYEAR,@iReDays output
		END

		--更新语句(员工级别，标准天数，生成天数)
		UPDATE HRAHOL_1 SET [DCLEVEL] = @DCLEVEL,[STDDAY] = @iReDays ,BUILDDAY =@BUILDDAY WHERE AHCODE = @AHOLCODE

		FETCH NEXT FROM CURSOR_AHOL1 INTO @AHOLCODE,@AYEAR,@ADCNO,@DCTYPE,@DCLEVEL,@ENTRYDATE,@LASTDATE,@SERVICEYEAR,@CURSTDDAY
	END
CLOSE CURSOR_AHOL1
DEALLOCATE CURSOR_AHOL1


------处理已用天数
DECLARE @LVNO VARCHAR(20)
DECLARE @EMPLOYEE VARCHAR(20)
declare @LVDATEF DATETIME
declare @LVDATET DATETIME
declare @LVTIME DECIMAL(9,4) 
declare @LVDAY DECIMAL(9,4) 
declare @LVAUDTSTAT VARCHAR(20)
declare @AHCODE_TEMP VARCHAR(20)

declare @DATE_first DATETIME
declare @LVTIME_first DECIMAL(9,4) 

DECLARE CURSOR_LV_DS CURSOR FOR
	select LVNO,EMPLOYEE,LVDATEF,LVDATET,LVTIME,LVAUDTSTAT 
	FROM KQLV_1 WHERE LVAUDTSTAT = '5' AND LVTYPE='07' 
	AND (YEAR(LVDATEF)=@curYear OR YEAR(LVDATET)= @curYear)--计算在本年度所有产生年假休假单的
--	and LVNO not in(select lvno from KQLV_1_CULHOL) ORDER BY LVNO--休假单中在尚未处理过的已经审批通过的年假单
	 ORDER BY LVNO
OPEN CURSOR_LV_DS
FETCH NEXT FROM CURSOR_LV_DS INTO @LVNO,@EMPLOYEE,@LVDATEF,@LVDATET,@LVTIME,@LVAUDTSTAT
WHILE @@FETCH_STATUS=0
	BEGIN
		SET @LVDAY = @LVTIME/8.00
		IF YEAR(@LVDATEF)=YEAR(@LVDATET)--假期跨度在同年
		BEGIN
			SET @AHCODE_TEMP = convert(varchar(4),YEAR(@LVDATEF))+convert(varchar(20),@EMPLOYEE)
			UPDATE HRAHOL_1 SET USEDAY = ISNULL(USEDAY,0.0000) + @LVDAY WHERE AHCODE = @AHCODE_TEMP
		END
		ELSE
		BEGIN
			--头年
			SET @AHCODE_TEMP = convert(varchar(4),YEAR(@LVDATEF))+convert(varchar(20),@EMPLOYEE)
			set @DATE_first = convert(datetime,convert(varchar(4),YEAR(@LVDATEF))+'-12-31')
			set @LVTIME_first = DATEDIFF(DD,@LVDATEF,@DATE_first)+1
			UPDATE HRAHOL_1 SET USEDAY = ISNULL(USEDAY,0.0000) + @LVTIME_first  WHERE AHCODE = @AHCODE_TEMP

			--次年
			SET @AHCODE_TEMP = convert(varchar(4),YEAR(@LVDATET))+convert(varchar(20),@EMPLOYEE)
			UPDATE HRAHOL_1 SET USEDAY = ISNULL(USEDAY,0.0000) + (@LVTIME-@LVTIME_first) WHERE AHCODE = @AHCODE_TEMP
		END
		--标志为已经处理过的年假休假单
		insert into KQLV_1_CULHOL (LVNO,EMPLOYEE,LVDATEF,LVDATET,LVTIME,LVAUDTSTAT)
		values (@LVNO,@EMPLOYEE,@LVDATEF,@LVDATET,@LVTIME,@LVAUDTSTAT)

		FETCH NEXT FROM CURSOR_LV_DS INTO @LVNO,@EMPLOYEE,@LVDATEF,@LVDATET,@LVTIME,@LVAUDTSTAT
	END
CLOSE CURSOR_LV_DS
DEALLOCATE CURSOR_LV_DS

----和剩余天数
UPDATE HRAHOL_1 set REMAINDAY = ISNULL(BUILDDAY,0.0000)-ISNULL(USEDAY,0.0000),[CALTIME]=@curDate where AYEAR = @curYear
--Add By Michael20120314
----处理预留天数(在职未满12个月数据需要保持为0，或者非正式合同也保持为0)
UPDATE HRAHOL_1 set YLDAY = BUILDDAY,BUILDDAY=0.0000 
	FROM HRAHOL_1 A INNER JOIN HRDOCU_1 B ON A.DCNO = B.DCNO 
	WHERE ((DATEDIFF(DD,B.[DCHREDATE],
				case	
					WHEN [LASTDATE] IS NOT NULL  or [LASTDATE]<>'' THEN [LASTDATE]
					else @curDate
				end)+1)/@yearDays  < 1 or B.DCCTTYPE <>2)  and AYEAR = @curYear and dcplevel>4
--Add By Michael20120314
------处理预留天数(反过来,在职满12个月数据0，或者转正式合同)
UPDATE HRAHOL_1 set YLDAY=0.0000
	FROM HRAHOL_1 A INNER JOIN HRDOCU_1 B ON A.DCNO = B.DCNO 
	WHERE ((DATEDIFF(DD,B.[DCHREDATE],
				case	
					WHEN [LASTDATE] IS NOT NULL  or [LASTDATE]<>'' THEN [LASTDATE]
					else @curDate
				end)+1)/@yearDays  >= 1 and B.DCCTTYPE =2)  and AYEAR = @curYear and dcplevel>4

----处理往年余额
declare @sYearFrom varchar(4)
--Add By Michael：不需要此句，因为之前已经把该年度全部清空
--if (month(@curDate)=1 and day(@curDate) =1)
BEGIN
	set @sYearFrom = convert(varchar(4),year(@curDate))
	----每年的"往年余额"=上年度的"剩余天数"+上年度的"往年余额"
	UPDATE A set A.PREREMAIN = ISNULL(B.REMAINDAY,0.000000)+ISNULL(B.PREREMAIN,0.000000)
			FROM HRAHOL_1 A ,HRAHOL_1 B 
			WHERE RIGHT(A.AHCODE,LEN(A.AHCODE)-4) =  RIGHT(B.AHCODE,LEN(B.AHCODE)-4)
			AND LEFT(A.AHCODE,4) = year(@curDate)
			AND LEFT(B.AHCODE,4) = year(@curDate)-1
	--Add By Michael20120314
	--不到1年或者实习生的4级以上员工,不满一年需要将去年休的年假累积到今年
	begin
		update A set A.PREREMAIN=ISNULL(B.REMAINDAY,0.0000)-ISNULL(B.YLDAY,0.0000)  
		FROM HRAHOL_1 A inner join HRAHOL_1 B 
		on RIGHT(A.AHCODE,LEN(A.AHCODE)-4) =  RIGHT(B.AHCODE,LEN(B.AHCODE)-4)
		AND LEFT(A.AHCODE,4) = year(@curDate)
		AND LEFT(B.AHCODE,4) = year(@curDate)-1
		where
		(a.serviceyear<1 or a.dctype in ('4','5','6')) and a.dclevel>4
	end
END


GO
