
-- =============================================
-- Author:		<Sammen>
-- Create date: <20120202>
-- Description:	<针对员工编号初始化其对应的所有假期信息基础数据>
-- =============================================
CREATE PROCEDURE [dbo].[USP_VACA_InitOneStaff] 
	@StaffId varchar(20),--员工编号(不能为空)
	@CurYear char(4)--当前年度(可为空,为空默认当前服务器时间的年度)
AS
BEGIN
	IF @StaffId='' OR @StaffId = NULL
	BEGIN
		RETURN 99
	END
	IF @CurYear='' OR @CurYear = NULL
	BEGIN
		set @CurYear = CONVERT(VARCHAR(4),Year(getdate()))
	END

	DECLARE @LastYear char(4)--上一年度
	SET @LastYear = CONVERT(VARCHAR(4),CONVERT(INT,@CurYear)-1)
	DECLARE @VacationCode VARCHAR(50)--员工假期唯一编码
	DECLARE @VTCODE VARCHAR(20)--假期类型编码
	DECLARE @DAYSTAND float--标准天数
	SET @DAYSTAND = 0.0

	--获取所有假期类型的集合
	DECLARE VACATYPE_DS CURSOR FOR
	SELECT VTCODE FROM VACATYPE_1 WHERE ISUSE ='1'

	OPEN VACATYPE_DS
	FETCH NEXT FROM VACATYPE_DS INTO @VTCODE
	WHILE @@FETCH_STATUS=0
	BEGIN
		
	--事务处理
	SET XACT_ABORT ON
	BEGIN TRAN

		--拼写唯一编码字符串(年度+假期类型编码+员工编号)
		SET @VacationCode = @CurYear+@VTCODE+@StaffId
		--获取标准天数
		EXEC [USP_VACA_GetStandDay] @StaffId,@VTCODE,@DAYSTAND
		
		--如果VACATION_1表不存在相应记录，则插入一条记录
		if NOT exists (SELECT * FROM VACATION_1 WHERE VCODE = @VacationCode)
		BEGIN
			--插入主表一条记录(VACATION_1)
			INSERT INTO VACATION_1([VCODE],[YEAR],[DCNO],[VTYPE],[VTYPEDETAIL]
						   ,[DALL]--标准天数
						   ,[DLASTYEAR]--上年度结余
						   ,[DHAVE]--已休天数
						   ,[DREMAIN]--剩余天数
						   ,[PDAYS]--支付天数
						   ,[PAMOUNT]--支付金额
						   ,[ADVANCEDAY]--预提天数
						   ,[ADVANCEAMOUNT]--预提金额
						   ,[DAYSALARY]--当前日薪
						)values (@VacationCode,@CurYear,@StaffId,@VTCODE,@VTCODE
						   ,@DAYSTAND,0.0,0.0,0.0,0.0,0.00,0.0,0.00,0.00
						)
			--更新VACATION_1员工信息(员工姓名)
			UPDATE A SET A.[DCNAME] = B.[DCNAME],A.[DCNAMECHS] = B.[DCNAMECHS] FROM VACATION_1 A,HRDOCU_1 B 
				WHERE A.[DCNO] = B.[DCNO] AND A.[VCODE] = @VacationCode AND B.[DCNO] = @StaffId
			--更新VACATION_1字段（日薪=当前薪金/21.75）
			UPDATE A SET A.[DAYSALARY] = CONVERT(DECIMAL(10,2),B.DCEMAIL/21.75)  FROM VACATION_1 A,HRDOCU_2 B 
				WHERE A.[DCNO] = B.[DCNO] AND A.[VCODE] = @VacationCode AND B.[DCNO] = @StaffId
			--更新VACATION_1字段（上年度结余）
			if exists (SELECT * FROM VACATION_1 WHERE [YEAR] = @LastYear AND [DCNO] = @StaffId and [VTYPE] = @VTCODE)
			BEGIN
				UPDATE A SET A.[DLASTYEAR] = B.[DREMAIN]  FROM VACATION_1 A,VACATION_1 B 
					WHERE A.[DCNO] = B.[DCNO] AND A.[VCODE] = @VacationCode AND B.[DCNO] = @StaffId AND B.[YEAR] = @LastYear AND B.[VTYPE] = @VTCODE
			END
		END

		--如果VACATION_2表不存在本年度1月份的明细，则插入一条记录
		if NOT exists (SELECT * FROM VACATION_2 WHERE VCODE = @VacationCode and [MONTH] = @CurYear+'01')
		BEGIN
			--插入明细表VACATION_2表一条记录（本年度1月份的明细）
			INSERT INTO [VACATION_2]([VCODE],[MONTH]
				   ,[DALL]--上月剩余天数
				   ,[DHAVE]--当月已休天数
				   ,[DREMAIN]--当月剩余天数
				   ,[PDAYS]--当月支付天数
				   ,[PAMOUNT]--当月支付金额
				   ,[ADVANCEDAY]--当月预提天数
				   ,[ADVANCEAMOUNT])--当月预提金额
				VALUES(@VacationCode,@CurYear+'01',0.0,0.0,0.0,0.0,0.00,0.0,0.00)
			--更新VACATION_2字段（上月剩余天数=上一年度最后一个月的“当月剩余天数”）
			DECLARE @LastYearVacationCode VARCHAR(50)--上一年度唯一编码
			SET @LastYearVacationCode = @LastYear+@VTCODE+@StaffId
			if exists (SELECT * FROM VACATION_2 WHERE [VCODE] = @LastYearVacationCode AND [MONTH] = @LastYear+'12')
			BEGIN
				UPDATE A SET A.[DALL] = B.[DREMAIN]  FROM VACATION_2 A,VACATION_2 B 
					WHERE A.[VCODE] = @VacationCode AND A.[MONTH] = @CurYear+'01' AND B.[VCODE] = @LastYearVacationCode AND B.[MONTH] = @LastYear+'12'
			END
		END

	--事务提交
	COMMIT TRAN

		SET @DAYSTAND = 0.0
		FETCH NEXT FROM VACATYPE_DS INTO @VTCODE

	END

	CLOSE VACATYPE_DS
	DEALLOCATE VACATYPE_DS


END 



