
-- =============================================
-- Author:		<Sammen>
-- Create date: <20120202>
-- Description:	<员工假期的月结相关操作>
-- Description:	<初始化某一月份所有在职员工(或者单个员工)的关于所有假期类型的假期信息>
-- =============================================
CREATE PROCEDURE [dbo].[USP_VACA_InitOneMonth] 
	@CurMonth char(6),----当前月份(不可为空)
	@StaffId varchar(20) ----员工编号(可为空)
AS
BEGIN
	IF @CurMonth='' OR @CurMonth = NULL or len(@CurMonth)<>6
	BEGIN
		return 99
	END
	
	DECLARE @CurYear varchar(4) --当前年度
	DECLARE @OnlyMonth varchar(2) --仅仅是月份
	DECLARE @LastMonth varchar(6) --上一月份
	set @CurYear = left(@CurMonth,4)
	set @OnlyMonth = right(@CurMonth,4)
	if @OnlyMonth = '01'
	begin
		SET @LastMonth = CONVERT(VARCHAR(4),CONVERT(INT,@CurYear)-1)+'12'
	end
	else
	begin
		SET @LastMonth = CONVERT(VARCHAR(6),CONVERT(INT,@CurMonth)-1)
	end

	--事务处理
	SET XACT_ABORT ON
	BEGIN TRAN
		if @StaffId = '' or @StaffId = null
		BEGIN--对所有员工
			INSERT INTO VACATION_2([VCODE],[MONTH]
						   ,[DALL]--上月剩余天数
						   ,[DHAVE]--当月已休天数
						   ,[DREMAIN]--当月剩余天数
						   ,[PDAYS]--当月支付天数
						   ,[PAMOUNT]--当月支付金额
						   ,[ADVANCEDAY]--当月预提天数
						   ,[ADVANCEAMOUNT])--当月预提金额
					SELECT [VCODE],@CurMonth
						   ,[DREMAIN]--当月剩余天数
						   ,0.00 ,0.00 ,0.00 ,0.00 ,0.00 ,0.00
					FROM VACATION_2 WHERE [MONTH] = @LastMonth 
						and [VCODE] NOT IN (SELECT [VCODE] FROM VACATION_2 WHERE [MONTH] = @CurMonth)
			--对于已经存在的则更新相应字段
			UPDATE A SET A.[DALL] = B.[DREMAIN] 
				FROM VACATION_2 A,VACATION_2 B 
				WHERE A.[VCODE] = B.[VCODE] AND A.[MONTH] =@CurMonth AND B.[MONTH]=@LastMonth
		END
		ELSE
		BEGIN--对特定的单个员工
			INSERT INTO VACATION_2([VCODE],[MONTH]
						   ,[DALL]--上月剩余天数
						   ,[DHAVE]--当月已休天数
						   ,[DREMAIN]--当月剩余天数
						   ,[PDAYS]--当月支付天数
						   ,[PAMOUNT]--当月支付金额
						   ,[ADVANCEDAY]--当月预提天数
						   ,[ADVANCEAMOUNT])--当月预提金额
					SELECT [VCODE],@CurMonth
						   ,[DREMAIN]--当月剩余天数
						   ,0.00 ,0.00 ,0.00 ,0.00 ,0.00 ,0.00
					FROM VACATION_2 WHERE [MONTH] = @LastMonth and RIGHT([VCODE],LEN([VCODE])-7) = @StaffId
						and [VCODE] NOT IN (SELECT [VCODE] FROM VACATION_2 WHERE [MONTH] = @CurMonth)
			--对于已经存在的则更新相应字段
			UPDATE A SET A.[DALL] = B.[DREMAIN] 
				FROM VACATION_2 A,VACATION_2 B 
				WHERE A.[VCODE] = B.[VCODE] AND A.[MONTH] =@CurMonth AND B.[MONTH]=@LastMonth AND RIGHT(A.[VCODE],LEN(A.[VCODE])-7) = @StaffId
		END
	

	--事务提交
	COMMIT TRAN

END 



