
-- =============================================
-- Author:		<Sammen>
-- Create date: <20120202>
-- Description:	<员工假期的年结相关操作>
-- Description:	<初始化某一年度所有在职员工的关于所有假期类型的假期信息>
-- =============================================
CREATE PROCEDURE [dbo].[USP_VACA_InitOneYear] 
	@CurYear char(4)----当前年度(可为空,为空默认当前服务器时间的年度)
AS
BEGIN
	IF @CurYear='' OR @CurYear = NULL
	BEGIN
		set @CurYear = CONVERT(VARCHAR(4),Year(getdate()))
	END

	DECLARE @StaffId varchar(20)--员工编号

	--获取所有在职员工的集合(非离职员工)
	DECLARE STAFF_DS CURSOR FOR
	SELECT DCNO FROM HRDOCU_1 WHERE DCSTATUS <> '3'

	OPEN STAFF_DS
	FETCH NEXT FROM STAFF_DS INTO @StaffId
	WHILE @@FETCH_STATUS=0
	BEGIN
		--遍历对所有员工进行年度假期初始化
		EXEC [USP_VACA_InitOneStaff] @StaffId,@CurYear
		FETCH NEXT FROM STAFF_DS INTO @StaffId

	END
	CLOSE STAFF_DS
	DEALLOCATE STAFF_DS


	---同时可以初始化所有月份的明细信息
	DECLARE @ONLYMONTH CHAR(2)
	DECLARE @YEARMONTH CHAR(6)
	DECLARE MONTH_DS CURSOR FOR
	SELECT CID FROM TB_HRLSTD WHERE LID = 'MONTH'

	OPEN MONTH_DS
	FETCH NEXT FROM MONTH_DS INTO @ONLYMONTH
	WHILE @@FETCH_STATUS=0
	BEGIN
		SET @YEARMONTH = @CurYear+@ONLYMONTH
		EXEC [USP_VACA_InitOneMonth] @YEARMONTH,''
		FETCH NEXT FROM MONTH_DS INTO @ONLYMONTH

	END
	
	CLOSE MONTH_DS
	DEALLOCATE MONTH_DS



END 



