
-- =============================================
-- Author:		<Sammen>
-- Create date: <20120202>
-- Description:	<根据员工编号及假期类型以及相关的规则逻辑获取对应的标准天数>
-- =============================================
CREATE PROCEDURE [dbo].[USP_VACA_GetStandDay] 
	@StaffId varchar(20),--员工编号(不能为空)
	@VacaType varchar(20),--假期类型编码(不能为空)
	@DayNum float output --返回标准天数
AS
BEGIN
	--事务处理
	SET XACT_ABORT ON
	BEGIN TRAN

	IF @StaffId='' OR @StaffId = NULL or @VacaType='' OR @VacaType = NULL
	BEGIN
		RETURN 99
	END

	----根据员工编号定位其对应的相关就职属性，按照如下规则返回不同假期类型的标准假期天数
	----《规则逻辑待整理》
	IF @VacaType = '001'--年休假
	BEGIN
		SET @DayNum = 7
	END
	ELSE IF @VacaType = '002'--病假
	BEGIN
		SET @DayNum = 5
	END
	ELSE IF @VacaType = '003'--事假
	BEGIN
		SET @DayNum = 3
	END
	ELSE
	BEGIN
		SET @DayNum = 0
	END

	
	--事务提交
	COMMIT TRAN
END 



